*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main{
    padding: 20px;
    background-color: #fff;
    align-items: center;
}
.arrow{
    display: flex;
    position: relative;
}
#plus{
    display: flex;
    position: relative;
    align-items: center;
}
hr{
    width: 200px;
}
.page checkbox{
    border-radius: 10px;
    
}
.page-2{
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 2;
    border-radius: 5px;
    color: black;
    background-color: #fff;
    
}